
/*General*/

body, html {
    margin: 0 ;
    padding: 0;
    font-family: Arial, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

/*Text*/

h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
p {
    font-size: 32px;
}
.title {
    text-align: center;
}

/* Header and navigation section*/

header {
    grid-column: 2 / span 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #fff;
}
header .logo {
    font-size: 1.5em;
    font-weight: bold;
    padding: 30;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 1em;
}
li {
    list-style-type: none;
}

/*Hero section*/

main {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.section {
    grid-column: 2 / span 10;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    align-items: center;
}

#herotext{
    grid-column: 1 / span 6;
    
}
.portrait{
    grid-column: 9 / span 6;
}


/*About Me Section*/

.title {
    grid-column: 1 / span 12;
}

.section .content {
    grid-column: 1 / span 12;
}

.icons {
    grid-column: 6 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
